@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    .nav-links{
        @apply mr-6 capitalize transition delay-75 border-b-2 hover:border-blue-500;
    }
    .form-control{
        @apply w-full px-2 py-2 mt-4 mb-4 border border-gray-200 rounded focus:outline-none focus:border-gray-400;
    }
    h2{
        @apply mx-auto text-4xl text-center;
    }

    h3{
        @apply text-3xl;
    }
    h4{
        @apply mb-4 text-2xl ;
    }
    .panel{
        @apply  w-full h-auto px-8 py-4 mx-auto my-8 mb-0 text-lg font-bold text-center text-gray-800 bg-white border shadow-lg sm:px-0 sm:text-xl sm:w-48 md:w-40 lg:w-44 xl:w-full sm:h-44 border-gray-50 rounded-3xl;
    }
    .panel-lg{
       @apply font-bold text-center text-gray-800 bg-white border shadow-lg border-gray-50 rounded-3xl;
    }

    .tabledata {
        @apply md:px-3 md:py-6 sm:py-4 lg:px-4 lg:py-8 sm:px-2 lg:text-base md:text-xs ;
    }

}

@layer utilities {
    .glass {
        background: rgba(255,255,255, 0.80 );
        box-shadow: 0 8px 32px 0 #ececec;
        backdrop-filter: blur( 20.0px );
        -webkit-backdrop-filter: blur( 2.0px );
        border-radius: 10px;
        border: 1px solid #ececec;
    }
    .bars{
       @screen md {
           width: 768px;
       }
    }

    .extrasmall {
        font-size: 10px;
        padding:8px 8px;
        }

    @media screen and (max-width:360px) {
        .extrasmall {
        font-size: 6px;
        padding:8px 4px;
        }
    }

    





    
}