@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    @font-face {
        font-family: LeagueSpartan-Bold;
        src: url(/cms/dist/fonts/LeagueSpartan-Bold.otf) format("opentype");
    }
    @font-face {
        font-family: Pacifico-Regular;
        src: url(/cms/dist/fonts/Pacifico.ttf) format("truetype");
    }
    
    @font-face {
        font-family: Raleway;
        src: url(/cms/dist/fonts/Raleway-Regular.ttf) format("truetype");
    }
    @font-face {
        font-family: Sofia-Regular;
        src: url(/cms/dist/fonts/Sofia-Regular.otf) format("opentype");
    }
    /* a{
        @apply text-white;
    } */
    
    .form-control{
        @apply w-full px-2 py-2 mt-4 mb-4 border border-gray-200 rounded focus:outline-none focus:border-gray-400;
    }
    h2{
        @apply mx-auto text-4xl text-center;
    }

    h3{
        @apply text-3xl;
    }
    h4{
        @apply mb-4 text-2xl ;
    }
    .panel{
        @apply  w-full h-auto px-8 py-4 mx-auto my-8 mb-0 text-lg font-bold text-center text-gray-800 bg-white border shadow-lg sm:px-0 sm:text-xl sm:w-48 md:w-40 lg:w-44 xl:w-full sm:h-44 border-gray-50 rounded-3xl;
    }
    .panel-lg{
       @apply font-bold text-center text-gray-800 bg-white border shadow-lg border-gray-50 rounded-3xl;
    }

    .tabledata {
        @apply md:px-3 md:py-6 sm:py-4 lg:px-4 lg:py-8 sm:px-2 lg:text-base ;
    }

    .form-group{
        @apply mt-3 text-gray-800;
    }
    .myBtn{
        @apply px-2 py-2 text-white bg-blue-500 border border-white hover:bg-blue-700;
    }
    .pager{
        @apply flex items-center justify-center py-3 my-10 text-center panel-lg;
    }

}

@layer utilities {

    .nav-links{
        @apply px-3 capitalize rounded cursor-pointer md:mr-3 hover:bg-blue-500 hover:text-white;
    }
    .nav-links:hover a {
        color:white;
    }
    .glass {
        background: rgba(255,255,255, 0.80 );
        box-shadow: 0 8px 32px 0 #ececec;
        backdrop-filter: blur( 20.0px );
        -webkit-backdrop-filter: blur( 2.0px );
        border-radius: 10px;
        border: 1px solid #ececec;
    }
   

    .extrasmall {
        font-size: 10px;
        padding:8px 8px;
        }

    @media screen and (max-width:360px) {
        .extrasmall {
        font-size: 6px;
        padding:8px 4px;
        }
    }

    .smallScreenW{
        width: 100%
    }
    @media screen and (min-width:450px) {
        .smallScreenW{
            width: 70%;
        }
     
    }

    .noselect{
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
        supported by Chrome, Edge, Opera and Firefox */
    }

    





    
}